{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="row">
         <div class="span3"> 
            {% include '::ModelUsed/navigation.html.twig' %} 
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
               {% include '::ModelUsed/utilisateurConnecter.html.twig' %}  
            {% else %}
               {% include '::ModelUsed/utilisateur.html.twig' %} 
            {% endif %} 
            
</div>
 <div class="span9">

 
        <div class="span4"> 
          
            {% include '::ModelUsed/utilisateurConnecter.html.twig' %}
    
    	</div>


            <h2>Informations</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    
                    <div class="span4">
                        <h4>Modifier mes informations</h4>
                        
                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                                {{ form_widget(form) }}
                                <div>
                                    <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                                </div>
                            {{ form_end(form) }}
                            <br />
                        
                    </div>
                </div>
            </div>
        </div>

       </div>
        </div>
