<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
       
        {{ render (controller('EcommerceEcommerceBundle:Categorie:menu')) }}
    </ul>
</div>


