{% extends '::layout/layoutAdmin.html.twig' %}
{% block body %}
    <h1>Creation categorie </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="btn btn-primary" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
